module.exports = {
    "port": 3000,
    "logEvery": 600, // in second
    "cpuInterval": 5, // in second
    "monitorbit": true, // set to false if don't want to monitor system / server
    "listener":{
        "http": {
            "timeout": 5, // in second
            "error": {
                "status": "Response status code: %s",
                "different": "Response different from expected",
                "notJSON": "Response body is incorrect as JSON",
                "http": "Cannot perform http request",
                "timeout": "Request has timed out"
            }
        },
        "websocket":{
            "error": {
                "different": "Response is different from expected",
                "disconnect": "Socket has been disconnected",
                "connect_error": "Cannot make websocket connection"
            },
            "connectEscalation": {
                "1": 10,
                "2": 60, // 1 minute
                "3": 60, // 1 minutes
                "4": 120, // 2 minutes
                "5": 300, // 5 minutes
                "after": 600 // 10 minutes
            }
        }
    },
    "escalation": {
        "1": 10,
        "2": 60, // 1 minute
        "3": 600, // 10 minutes
        "4": 3600, // 1 hour
        "after": 14400 // 4 hour
    },
    "sender": {
        "default": {
            "transporter": {
                "host": 'smtp.example.com',
                "port": 465,
                "secure": true, // secure:true for port 465, secure:false for port 587
                "auth": {
                    "user": 'username@example.com',
                    "pass": 'userpass'
                }
            },
            "from": "username@example.com"
        }
    },
    "mail": {
        "http": {
            "error": {
                "subject": '%NAME% cannot be accessed at %NOW%', // Subject line
                "text": '%NAME% cannot be accessed by %ACCESS%', // plain text body
                "html": '<b>%NAME%</b> cannot be accessed by %ACCESS%, with data:\n' + 
                    '<pre/>%ACTUAL%</pre>' // html body
            },
            "recover": {
                "subject": '%NAME% at %NOW% is now online', // Subject line
                "text": '%NAME% at %ACCESS%  is now online', // plain text body
                "html": '<b>%NAME%</b> at %ACCESS% has been recovered and is now online, with data:\n' + 
                    '<pre/>%ACTUAL%</pre>' // html body
            }
        },
        "websocket": {
            "error": {
                "subject": '%NAME% cannot be accessed at %NOW%', // Subject line
                "text": '%NAME% cannot be accessed by %ACCESS%', // plain text body
                "html": '<b>%NAME%</b> cannot be accessed by %ACCESS%, with data:\n' + 
                    '<pre/>%ACTUAL%</pre>' // html body
            },
            "recover": {
                "subject": '%NAME% at %NOW% is now online', // Subject line
                "text": '%NAME% at %ACCESS%  is now online', // plain text body
                "html": '<b>%NAME%</b> at %ACCESS% has been recovered and is now online, with data:\n' + 
                    '<pre/>%ACTUAL%</pre>' // html body
            }
        }
    }
};