module.exports = {
    "port": 3000,
    "logEvery": 60, // in second
    "error": {
        "http": {
            "status": "Response status code is not expected",
            "different": "Response different than expected",
            "notJSON": "Response body is incorrect as JSON",
            "http": "Cannot perform http request"
        }
    }
};